# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Firebase - TODAS las variantes
config/firebase.json
config/firebase-service-key.json
config/firebase-*.json
backend/config/firebase.json
backend/config/firebase-*.json
firebase-adminsdk-*.json

# Variables de entorno
.env
config/.env
backend/.env

# VS Code
.vscode/settings.json

# Sistema
.DS_Store
*.log